<section id="why">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <h2 class="section-heading">Meet The Team</h2>
                <hr class="primary">
                <br />
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-code wow bounceIn text-primary"></i>
                    <h3>Aaron Kovacks</h3>
                    <p class="text-muted">TBD</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <img src="/img/julia.jpg" class="img-responsive" alt="">
                    <h3>Julia Showl</h3>
                    <p class="text-muted">Julia is currently a senior at the George Washington University majoring in computer science. She was responsible for building the repository of movie information and the forced alignment algorith. Her current interests are data analytics and data science. Outside of CS, she loves watching movies and going to concerts.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-linkedin wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Ryan Rosica</h3>
                    <p class="text-muted">TBD</p>
                </div>
            </div>
        </div>
    </div>
</section>
